<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>493794803482-8pm2gqdgogbpjvtbfok4g0p56mv6uh1m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.493794803482-8pm2gqdgogbpjvtbfok4g0p56mv6uh1m</string>
	<key>API_KEY</key>
	<string>AIzaSyBEw09lrn0N3iaekFMB3x2kICJXTgQX_DQ</string>
	<key>GCM_SENDER_ID</key>
	<string>493794803482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.harryWilliamsApp</string>
	<key>PROJECT_ID</key>
	<string>harry-williams-app</string>
	<key>STORAGE_BUCKET</key>
	<string>harry-williams-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:493794803482:ios:63b1243bde01603d2b76a3</string>
</dict>
</plist>